<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>234650972025-j62vofmutlsruphpnt0ki4fbmd9dqmgl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.234650972025-j62vofmutlsruphpnt0ki4fbmd9dqmgl</string>
	<key>API_KEY</key>
	<string>AIzaSyAMcE3ECt_OnCZly01Dp7Uy9fSuNDQiekM</string>
	<key>GCM_SENDER_ID</key>
	<string>234650972025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.test-one</string>
	<key>PROJECT_ID</key>
	<string>papers-list</string>
	<key>STORAGE_BUCKET</key>
	<string>papers-list.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234650972025:ios:48cd06bbc1bd970d</string>
	<key>DATABASE_URL</key>
	<string>https://papers-list.firebaseio.com</string>
</dict>
</plist>